{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-6 masthead-text">
                <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
                <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="col-6 masthead-image">
                <img src="{{ post.featured_image.url }}" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">{{ post.content | safe }}</p>
                <div>
                    {% if user.is_authenticated %}
                    <form action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}

                        {% if post_is_liked %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}"
                            class="btn btn-info">Unlike</button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}"
                            class="btn btn-info">Like</button>
                        {% endif %}
                    </form>
                    {% else %}
                    <p>Log in to like this article!</p><br>
                    {% endif %}
                    <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
                </div>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}


        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- comments -->
                {% with comments.count as total_comments %}
                <h2>{{ total_comments }} comments</h2>

                <p>
                    {% endwith %} {% for comment in comments %}
                </p>

                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>

                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment</h3>
                <p>Posting as: {{ user.get_full_name }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                </form>

                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}